# DATABASE_URL=postgresql://postgres.nupjaxjjcaxlkxvsdzlp:E15WDFmycG1ZjqjH@aws-0-eu-west-2.pooler.supabase.com:6543/postgres
# DATABASE_URL_PASSWORD=E15WDFmycG1ZjqjH
# AUTH_SECRET=TheCatHasAHatAndItsPink00
# AUTH_GITHUB_SECRET=da739033117a6e977f183aa9b0535398ebbb0eaa
# AUTH_GITHUB_ID=Ov23lirKCBEq1OEKt885
# NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2hhcm1pbmctam9leS0xNy5jbGVyay5hY2NvdW50cy5kZXYk
# CLERK_SECRET_KEY=sk_test_vs3YcYIilUC1P99M3t5ZCk34xq9w18f9C4YxcrrqVp

AUTH_SECRET=TheCatHasAHatAndItsPink00
AUTH_GITHUB_ID=Ov23lirKCBEq1OEKt885
AUTH_GITHUB_SECRET=da739033117a6e977f183aa9b0535398ebbb0eaa
DATABASE_URL=postgresql://postgres.nupjaxjjcaxlkxvsdzlp:E15WDFmycG1ZjqjH@aws-0-eu-west-2.pooler.supabase.com:6543/postgres
DATABASE_URL_PASSWORD=E15WDFmycG1ZjqjH
